<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="Endpoint" value="http://dev-03-dt:6060" />
    <add key="1CUser" value="ivan" />
    <add key="1CPassword" value="password" />
    <add key="pathToDb" value="C:/db"/>
  </appSettings>
</configuration>